@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");

:root {
  --primary: #00bc8c;
}

html {
  background: hsl(0, 0%, 10%);
  color: white;
  font: 12pt/1.25 "Lato", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

kbd {
  border: solid 1px hsl(0, 0%, 25%);
  padding: 0.1em 0.3em;
  border-radius: 0.25rem;
  box-shadow: hsl(0, 0%, 25%) 0 0.25em 0;
}

body {
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

::selection {
  background: var(--primary);
}

input,
button {
  border-radius: 0.25rem;
  font: inherit;
  font-size: 1rem;
  border: none;
  color: inherit;
}

input[disabled],
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

input:-webkit-autofill,
button:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  /* hack to set background color */
  box-shadow: 0 0 0 1000em hsl(60, 10%, 25%) inset;
}

button,
input[type="submit"] {
  background: hsl(0, 0%, 20%);
  padding: 0.5em 1em;
  cursor: pointer;
}

button:active,
input[type="submit"]:active {
  background: hsl(0, 0%, 18%);
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  background: hsl(0, 0%, 20%);
  border: none;
  padding: 0.5em 1em;
}

input[type="text"].form-invalid,
input[type="password"].form-invalid,
input[type="email"].form-invalid,
textarea.form-invalid {
  box-shadow: hsl(0, 40%, 40%) 0 0 0 0.15em !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1rem 0;
}

html [data-reach-listbox-button] {
  cursor: pointer;
  display: flex;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25rem;
  background: hsl(0, 0%, 20%);
}

html [data-reach-listbox-arrow] {
  padding-left: auto;
}

html [data-reach-listbox-popover] {
  background: hsl(0, 0%, 20%);
}

html [data-reach-listbox-option] {
  cursor: pointer;
  padding: 0.5em 1em;
}

html [data-reach-listbox-option][aria-selected="true"] {
  background-color: var(--primary);
}
